<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button default-href="music-list"></ion-back-button>
    </ion-button>
    <ion-button (click)="onBackAction()">BACK</ion-button>
    <ion-title>Ajouter une musique</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmitAction()">
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input formControlName="title" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Artist</ion-label>
      <ion-input formControlName="artist" type="text" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" shape="full" expand="block">Add</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
