<ion-header>
  <ion-toolbar>
    <ion-title>List of music</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let row of rows">
      <ion-col *ngFor="let item of row">
        <ion-card>
          <ion-card-header>{{ item.title }}</ion-card-header>
          <ion-card-content>{{ item.artist }}</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-row *ngFor="let music of musics">
      <ion-col>{{ music.title }}</ion-col>
      <ion-col>{{ music.artist }}</ion-col>
      <ion-col><ion-button (click)="onEditAction(music)"><ion-icon name="create-outline"></ion-icon></ion-button></ion-col>
    </ion-row>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/music-add">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
